<launch>
  <include file="$(find rplidar_ros)/launch/rplidar.launch" />

  <node pkg="rosserial_python" name="serial_node" type="serial_node.py"
    args="_port:=/dev/ttyACM0" />

  <node pkg="tf" type="static_transform_publisher" name="base2laser" 
    args="0 0 0.15 3.141592 0 0 /base_footprint /laser 100"/>


  <!--  ***************** publish odometry **************** -->
  <!-- <node pkg="auto_drive_model" type="adt_odom.py" name="adt_odom"/> -->

  <!--  ***************** laser_scan_matcher **************** -->
  <include file="$(find auto_drive_model)/launch/laser_odometory.launch" />

  <!--  ***************** amcl **************** -->
  <include file="$(find auto_drive_model)/launch/amcl.launch" />

  <!-- </group> -->
</launch>
